.filtercvs-container {
    text-align: center;
    padding: 50px;
  }
  
  h2 {
    font-size: 2em;
    color: #0A2540;
  }
  
  .filter-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    padding: 10px 20px;
    background-color: #32B6F0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0A2540;
  }
  